# Ignore node modules
node_modules/

# Ignore environment variables
.env

# Ignore build outputs (optional but recommended)
dist/
build/

# Ignore VSCode settings (optional)
.vscode/

# Ignore Google API credentials (VERY IMPORTANT)
backend/src/google/credentials.json
backend/src/google/service-account.json
backend/src/google/token.json

# Ignore all JSON files inside google folder
backend/src/google/*.json

# (Optional) ignore entire google folder
# backend/src/google/
